
* {
    /* border: 1px solid red; */
    /* margin: 10px; */
    
}

body {
    /* margin: 0em; */
    background-color: #f8e789; 
}

.menu-container {
    margin: -10px -10px -10px -10px;
    color: #fff;
    background-color: #c4b45e; 
    padding: 20px 0;
    
    display: flex;
    justify-content: center;
}
  
.menu {
    width: 900px;

    display: flex;
    justify-content: space-around;
    flex:1;
}

.logo {

    /* put actual logo here later */
    font-size: 35px;
    justify-content: center;

    display: flex; 
    flex: 0.1 0 100px;
}

.links {
    justify-content: flex-end;
    flex: 1 1 auto;
    display: flex;
}

.links > div {
    font-size: 30px;

    flex: 0  1 auto;
    justify-content: flex-end;
    padding: 8px;
}

.links > div > a {
    color: white;
    text-decoration: none;
}




.title {
    text-align: center;
    font-size: 4em;
    font-family: "SE Inter","Space Grotesk",Helvetica,sans-serif;
    margin: -8px;
}

.card {
    width: 40em;
    background: #fff3b2;
    margin: 10px auto;
    padding: 10px;
    font-family: Inter,Helvetica,sans-serif;
}

.subcard {
    width: 100%;
    background: #fff3b2;
    margin: 10px auto;
    border-top: 3px solid #a0986d;
}


.ingredients {

}

.directions {
    width: 35em;
}

.directions li{
    margin: 10px 0px; 

}



header.recipe-page {
    padding: 1em;
    margin: -1em;
}


img.main-image {
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
    border: 2px solid red;
    height: auto;
}


